body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header, .footer {
  background-color: #cfcfff;
  padding: 2rem;
}

h1 {
  text-align: center;
}

.section {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin; 2rem 0;
}
